page-create-ask {
    .container {
        background-color: #DDDD;
        margin-top: 40px !important;
    }
    .image {
        display: block !important;
        margin: auto !important;
    }
    .imageEmocion {
        width: auto !important;
        height: 128px !important;
        display: block !important;
        margin: auto !important;
        background-color: #fff;
    }
    
    .icon {
        color: black;
        margin: auto;
        display: block;
        zoom: 2.0;
    }
    .columns {
        text-align: center !important;
        display: block !important;
    }
    .cardScale {
        width: 40px;
        height: 40px;
        font-size: 50px !important;
    }
    p {
        text-align: center;
        display: block;
        margin-top: 11px !important;
    }
    .toolbar-background-md {
        background: #030B26;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white !important;
    }
    ion-input{
        border-bottom: 1px solid;
    }
    
    button{
        text-align: center;
        margin:auto;
    }
    .botones{
        text-align: center;
    }
    ion-icon{
       
    }
}
