page-do-pooll {
    .toolbar-background-md {
        background: #030B26;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
    div .container{
        margin: 0;
        padding-left: 16px;
    }
    .card-title{
        font-size: 22px;
        font-weight: 700;
        font-family: 'Times New Roman', Times, serif;
    }
}
