<ion-header>
  <ion-navbar class="toolbar toolbar-md">
      <ion-title class="toolbar-title toolbar-title-md">
          Graficación de los resultados
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p>Por el momento la aplicación no cuenta con este servicio.</p>
</ion-content>