<ion-header>
  <ion-toolbar>
    <ion-title>
      Investigación de Mercado
    </ion-title>
          
      
    <ion-buttons end class="bar-buttons">
      <button ion-button icon-only color="royal">Mis encuestas</button>
    </ion-buttons>
      
    <ion-buttons end>
      <button ion-button (click)="goToMath()" icon-only color="royal">
        <ion-icon name="calculator"></ion-icon>
      </button>
    </ion-buttons>
      
    <ion-buttons end>
      <button ion-button (click)="goToUser()" icon-only color="royal">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
      
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="library()">
        <ion-icon name="book"></ion-icon>
      </button>
    </ion-buttons>
            
      
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
    <button class="button" item-right clear (click)="create()">
    <ion-icon name="add-circle" style="zoom:4.0;" c></ion-icon>
    Crear encuesta
  </button>


    <ion-item>
        <ion-card padding class="containerEncuestas" *ngFor="let poll of resultado" (click)="menu(poll.id_encuesta)">
            <p class="card-title">Encuesta</p>
            <div class="card-subtitle">
                <ion-icon name="ios-clipboard-outline"></ion-icon>
            </div>
        </ion-card>
    </ion-item>

</ion-content>
