.bar-button-default-md {
color:white;
background-color: transparent;
.containerEncuestas {
    width: 100%;
    font-size: 1.4rem;
    background: white;
    margin-top: 10px !important;

}
button{
    height: 200px !important;
}
.card-title{
    font-size: 23px !important;
    font-weight: 500 !important;
}
p{
    font-size: 23px !important;
    font-weight: 500 !important;
}
}
