<ion-header>
  <ion-navbar class="toolbar toolbar-md">
      <ion-title class="toolbar-title toolbar-title-md">
          Visualización de la encuesta.
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
      <ion-list padding *ngFor="let poll of resultado">
          <div *ngIf="poll.id_encuesta == encuestaId">
              <div class="card-title">{{poll.pregunta}}</div>

              <div *ngIf="poll.id_tipo_pregunta==2">
                  <ion-item>
                      <ion-list padding *ngFor="let item of askItems">
                          <div *ngIf="poll.id_pregunta == item.id_pregunta">
                              <ion-item>
                                  <ion-radio></ion-radio>
                                  <ion-label>{{item.respuesta}}</ion-label>
                              </ion-item>
                          </div>
                      </ion-list>
                  </ion-item>
              </div>



              <div class="container" *ngIf="poll.id_tipo_pregunta == 5">
                  <ion-item>
                      <ion-label>Número de estrellas</ion-label>
                      <ion-select [(ngModel)]="star">
                          <ion-option value="1">1</ion-option>
                          <ion-option value="2">2</ion-option>
                          <ion-option value="3">3</ion-option>
                          <ion-option value="4">4</ion-option>
                          <ion-option value="5">5</ion-option>
                      </ion-select>
                  </ion-item>
              </div>

              <div class="container" *ngIf="poll.id_tipo_pregunta == 7 || poll.id_tipo_pregunta == 3">
                  <ion-input type="text" placeholder="Inserte aqui su respuesta"></ion-input>
              </div>



              <div class="container" *ngIf="poll.id_tipo_pregunta == 6">
                  <ion-item>
                      <button ion-button icon-only style="background: white">
                          <ion-icon name="sad" style="color: black"></ion-icon>
                      </button>
                  </ion-item>
                  <ion-item>
                      <button ion-button icon-only style="background: white">
                          <ion-icon name="happy" style="color: black"></ion-icon>
                      </button>
                  </ion-item>
              </div>

              <div class="container" *ngIf="poll.id_tipo_pregunta == 21">
                  <ion-list radio-group [(ngModel)]="Escala">
                      <ion-item>
                          <ion-label>1</ion-label>
                          <ion-radio value="1"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>2</ion-label>
                          <ion-radio value="2"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>3</ion-label>
                          <ion-radio value="3"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>4</ion-label>
                          <ion-radio value="4"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>5</ion-label>
                          <ion-radio value="5"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>6</ion-label>
                          <ion-radio value="6"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>7</ion-label>
                          <ion-radio value="7"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>8</ion-label>
                          <ion-radio value="8"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>9</ion-label>
                          <ion-radio value="9"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>10</ion-label>
                          <ion-radio value="10"></ion-radio>
                      </ion-item>
                  </ion-list>
              </div>

              <div class="container" *ngIf="poll.id_tipo_pregunta == 4">
                  <ion-list radio-group [(ngModel)]="Escala">
                      <ion-item>
                          <ion-label>1</ion-label>
                          <ion-radio value="1"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>2</ion-label>
                          <ion-radio value="2"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>3</ion-label>
                          <ion-radio value="3"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>4</ion-label>
                          <ion-radio value="4"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>5</ion-label>
                          <ion-radio value="5"></ion-radio>
                      </ion-item>
                  </ion-list>
              </div>

              <div class="container" *ngIf="poll.id_tipo_pregunta == 22">
                  <ion-list radio-group [(ngModel)]="Dimensiones">
                      <ion-item>
                          <ion-label>Si</ion-label>
                          <ion-radio value="si"></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>No</ion-label>
                          <ion-radio value="no"></ion-radio>
                      </ion-item>
                  </ion-list>
              </div>

              <div class="container" *ngIf="poll.id_tipo_pregunta == 23">
                  <ion-range margin min="0" max="10" [(ngModel)]="saturation" color="secondary">
                      <ion-label range-left>0</ion-label>
                      <ion-label range-right>10</ion-label>
                  </ion-range>
              </div>

          </div>
      </ion-list>
  </ion-card>
</ion-content>