<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>
      Investigación de Mercado
    </ion-title>
          
      
    <ion-buttons end>
      <button ion-button (click)="goToHome()" icon-only color="royal">Mis encuestas</button>
    </ion-buttons>
      
    <ion-buttons end>
      <button ion-button (click)="goToMath()" icon-only color="royal">
        <ion-icon name="calculator"></ion-icon>
      </button>
    </ion-buttons>
      
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
      
    <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="library()">
          <ion-icon name="book"></ion-icon>
        </button>
      </ion-buttons>
            
      
  </ion-toolbar>

</ion-header>


<ion-content padding  >
    
  <div class="center-things">
    <ion-icon name="contact"></ion-icon>
    <p><ion-label>{{nombreUsuario}}</ion-label></p>
    <h4>Cambia tu contraseña</h4>

  </div>
    <ion-list >
      <ion-item class="item item-block ">
        <ion-input type="password" placeholder="Contraseña nueva" [(ngModel)]="contrasena"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Confirmar contraseña" [(ngModel)]="contrasena2"></ion-input>
      </ion-item>

    </ion-list>

    <button ion-button class="center-things" (click)="edit()">Guardar</button>

</ion-content>
