page-resultpolls {

    .toolbar-background-md {
        background: #030B26;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
}

