<ion-header>
  <ion-toolbar>
    <ion-title>
      Libreria de encuestas
    </ion-title>
          
      
    <ion-buttons end class="bar-buttons">
      <button ion-button icon-only color="royal">Mis encuestas</button>
    </ion-buttons>
      
    <ion-buttons end>
      <button ion-button (click)="goToMath()" icon-only color="royal">
        <ion-icon name="calculator"></ion-icon>
      </button>
    </ion-buttons>
      
    <ion-buttons end>
      <button ion-button (click)="goToUser()" icon-only color="royal">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
      
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="library()">
        <ion-icon name="book"></ion-icon>
      </button>
    </ion-buttons>
            
      
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card>
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Estirar para actualizar" refreshingSpinner="circles" refreshingText="Refrescando...">
          </ion-refresher-content>
      </ion-refresher>

      <ion-list>
          <ion-item *ngFor="let item of list">
              <h2>{{ item.pregunta }}</h2>
              <h3>{{ item.tipo }}</h3>
          </ion-item>
      </ion-list>
  </ion-card>
</ion-content>
