page-create {
    ion-list {
        margin: 0;
        padding: 0;
    }
    .subtitle {
        font-size: 25px;
        text-align: center !important;
    }
    .toolbar-background-md {
        background: #030B26;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
    .item{
        height: 70px;
    }
}
