<ion-header>
    <ion-navbar class="toolbar toolbar-md">
        <ion-title class="toolbar-title toolbar-title-md">
            Registrarse
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
    <div class="login-box">

        <form (ngSubmit)="register()" #registerForm="ngForm">
            <ion-card class="card card-md">
                <ion-card-header>
                    Registrate!
                </ion-card-header>
                <ion-row>
                    <ion-col>
                        <ion-list inset>

                            <ion-item>
                                <ion-input type="email" [(ngModel)]="email" placeholder="Correo electronico" name="email" required></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input type="text" [(ngModel)]="nombre" placeholder="Nombre" name="name" required></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-input type="password" [(ngModel)]="contrasena" placeholder="Contraseña" name="password" required></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input type="password" [(ngModel)]="contrasena2" placeholder="Contraseña" name="password" required></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col class="signup-col">
                        <button ion-button class="submit-btn" type="submit" (click)="register()">ACEPTAR</button>
                        
                    </ion-col>
                </ion-row>
            </ion-card>
        </form>

    </div>
</ion-content>
